.overview{
    max-width: 90rem;
    margin: 0 auto;
    padding: 7rem 5rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(11, 8rem);

    grid-column-gap: 3rem;
    // justify-content: center;
    // align-items: center;
    @media only screen and (max-width: $bp-small) {
        display: flex;
        flex-direction: column;
        margin: 0 5vw;
    }

}
.text-content--1,
.text-content--2,
.text-content--3{
    @media only screen and (max-width: $bp-small) {
        margin: 4rem 0;
    }
}
.img--1{
    grid-row: 1 / 5;
    grid-column: 1 / 2;
}
.text-content--1{
    grid-row: 1 / 4;
    grid-column: 2 / 3;

}
.img--2{
    grid-row: 4 / 8;
    grid-column: 2 / 3;
}
.text-content--2{
    grid-row: 8 / 11;
    grid-column: 2 / 3;

}
.img--3{
    grid-row: 5 / 9;
    grid-column: 1 / 2;
}
.text-content--3{
    grid-row: 9 / 12;
    grid-column: 1 / 2;

}