.sign-in{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  padding: 2rem;
  background: #fff;
  .input{
    display: block;
    width: 90%;
    padding: .7rem;
    margin: 2rem 0rem;
  }
  input[type="email"],
  input[type="password"]{
    background: none;
    border: none;
    border-bottom: 1.3px solid $color-blue;
    font-family: inherit;
    transition: all .2s;
  }
  input[type="email"]:focus,
  input[type="password"]:focus{
    box-shadow: 0 1px 1px rgba(0,0,0,.3);
  }
}