.card-container{
    padding: 4rem 0;

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(26rem, 1fr));
    grid-auto-rows: 36rem;
    grid-gap: 2rem 3vw;

}
.card{
    background: $color-white;
    padding: 3rem 2rem;
    text-align: center;
    
    transition: all .2s;

    &__img{
        height: 15rem;
        // object-fit: cover;
    }
    &__name{
        padding: 2rem 2rem 1rem 2rem;
    }
    &__price{
        padding: 1.5rem 2rem;

    }
    &__btn:link,
    &__btn:visited{
        padding: 1.5rem 3rem;
        border: 1px solid $color-black;
        border-radius: .2rem;

        transition: all .2s;
    }
    &__btn:hover,
    &__btn:active{
        background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
        box-shadow: 0 1rem 2rem  #c471ed;
        border: 1px solid $color-black;
        color: $color-white;

    }


    &:hover{
        transform: translateY(-3px) scale(1.03);
        box-shadow: 0 2rem 4rem  #c471ed;
    }
}